body {
    background-image: linear-gradient(#d13531, #bae7f5)

}
.btn {
    border-radius: 2px;
    background: white;
    border: 2px solid #4CAF50;
     -webkit-transition: 0.4s;
     transition-duration: 0.4s;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}
.centerText {
    /* align-content: center; */
    /* background: #de7254; */
    display: block;
    margin-left: 27%;
    margin-top: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    width: 43%;
}
.cols {

    display: inline-block;
    opacity: 85%;
    margin: 1% 0.5% 1% 0;
    padding: 0 2.5% 2.5%;

    width: 30%;

}

.midCol {
    margin-left: 5%;
    margin-right: 5%
}

.endCol {
    float:right;
}

.heading {
    align-content: center;
    background: black;
    color: #2bf502;
    /* margin-left: 33%; */
    opacity: 80%;
    position: fixed;
    width: 100%;
    z-index: 1;

}
.newTable {
    /* display:inline-flex;
    width: 60%; */
    display: flex;
    /* clear: both; */
    justify-content: center;
    margin: 2% 0;
    position: relative;
    width: 100%;
}
.one {
    /* background: #eb01a5; */
    
    /* background-image: url("./assets/images/mountain-banner.png"), linear-gradient(#eb01a5, #d13531); */
    background-image: url("./assets/images/mountain-banner.png"), linear-gradient(#d13531, #bae7f5 );
    background-size: 100%;
    padding: 1% 0;
    background-repeat: no-repeat;
}

.par1 {
    align-content: center;
    background: #de7254;
    font-size: 18px;
    opacity: 85%;
    margin: 5% 20% 0 20%;
    padding: 0.5% 5%;

}

.par2 {
    display: flex;

}


.shading {
    background: #de7253;
    box-shadow: 3px 3px #ba793f;


}

#reset {
    display: none;
    justify-content: center;
    margin-left: 33%;
    position: relative;
}